<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html class="index-background" lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/6da5a77d44.js"></script>
</head>
<body class="index-main container">

<h1><a></a>Northcoders News</h1>
  <h2><a></a>API Endpoints</h2>
  <h3><a href="https://serene-hollows-85752.herokuapp.com/api/topics">GET <code>/api/topics</code></h3></a>
  <p>Get all the topics</p>
  <h3><a href="https://serene-hollows-85752.herokuapp.com/api/topics/football/articles">GET <code>/api/topics/:topic/articles</code></h3></a>
  <p>Return all the articles for a certain topic</p>
  <h3><a href="https://serene-hollows-85752.herokuapp.com/api/articles">GET <code>/api/articles</code></h3></a>
  <p>Returns all the articles</p>
  <h3><a href="https://serene-hollows-85752.herokuapp.com/api/articles/591708f0ab33795b0d9b31e8/comments">GET <code>/api/articles/:article_id/comments</code></h3></a>
  <p>Get all the comments for a individual article</p>
  <h3><a></a>POST <code>/api/articles/:article_id/comments</code></h3>
  <p>Add a new comment to an article. This route requires a JSON <code>body</code> with a <code>comment</code> key and value pair<br>
    e.g: <code>{"comment": "This is my new comment"}</code>
  </p>
  <h3><a></a>PUT <code>/api/articles/:article_id</code></h3>
  <p>Increment or Decrement the votes of an article by one. This route requires a <code>vote</code> query of 'up' or 'down'<br>
    e.g: <code>http://northcoders-news-api.herokuapp.com/api/articles/:article_id?vote=up</code>
  </p>
  <h3><a></a>PUT <code>/api/comments/:comment_id</code></h3>
  <p>Increment or Decrement the votes of a comment by one. This route requires a <code>vote</code> query of 'up' or 'down'<br>
    e.g: <code>http://northcoders-news-api.herokuapp.com/api/comments/:comment_id?vote=down</code>
  </p>
  <h3><a></a>DELETE <code>/api/comments/:comment_id</code></h3>
  <p>Deletes a comment if the comment was created by the Northcoder user</p>
    
</body>
</html>